[net]
# Общие параметры сети
batch=64
subdivisions=16
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0

# Параметры обучения
learning_rate=0.001
burn_in=1000
max_batches=500200
policy=steps
steps=400000,450000
scales=.1,.1

[convolutional]
# Первый сверточный слой
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[convolutional]
# Второй сверточный слой
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

[convolutional]
# Третий сверточный слой
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -2

[convolutional]
# Четвертый сверточный слой
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[shortcut]
from=-3
activation=linear

[convolutional]
# Пятый сверточный слой
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

# Добавьте дополнительные слои в зависимости от архитектуры вашей модели

[convolutional]
# Пример выходного слоя
batch_normalize=1
filters=18
size=1
stride=1
pad=1
activation=linear

[yolo]
mask = 0,1,2
anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
classes=80
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

# Добавьте дополнительные [yolo] слои, если это необходимо
